body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Raleway',sans-serif;
  color:#fff;

}
.banner {
  height: 100vh;
  width:100%;
  background: url(../images/bg.jpg);
  background-position: top;
  background-size: cover;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
}
.banner .navbar {
  margin-top: 4%;

}
.navbar .navbar-brand {
  color: white;
  font-size: 1.8em;
  font-weight: 700;
  margin-left: 10%
}
.banner .nav {
  margin-right: 10%
}
.banner .nav li a {
  color: white;
  font-size: 1em;
}
.banner .info {
  margin-top: 15%;
  transform: translateY(-15%);
}
